$input-text {
  border: 0;
}

$resetInput {
  border: 0;
  background: none;
  font-size: 1em;
}

.Field {
  &__field {
    display: flex;
    line-height: 26px;
    background: $palette.white;
    // box-shadow: 0 0 4px #E8E8E8;
    box-shadow: 0 0 4px $palette.darkGrey;
    border-radius: 4px;
    padding-left: 10px;

    .error &,
    .required & {
      box-shadow: 0 0 4px $palette.tomatoRed;
    }

    label {
      padding-right: 10px;
      font-style: italic;
      color: $palette.mutedBlue;
      white-space: nowrap;
    }

    input {
      @extend $resetInput;
      display: block;
      flex: auto;
      width: 100%;
      height: 26px;
      font-weight: bold;

      outline: none;
      color: #333;
    }
  }

  &__error,
  &__required {
    display: block;
    opacity: 0;
    transition: opacity 250ms;
    color: $colors.error;
    padding: 5px 0;

    &:before {
      content: '\00a0';
    }

    .error &,
    .required & {
      opacity: 1;
    }

    .withoutValidation & {
      display: none;
    }
  }
}
