.FieldContainer {
  display: flex;
  justify-content: space-around;

  .Field {
    width: 100%;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
