$LoginField = {
  colors: {
    text: rgba($palette.white, 0.6),
    inputText: $palette.white,
    border: rgba($palette.white, 0.6)
  }
}

.LoginField {
  border-collapse: collapse;
  transition: background 270ms ease;

  .formInvalid &.require,
  .formInvalid &.error {
    background-color: rgba($palette.orangeRed, 20%);
  }

  &__label,
  &__input,
  &__select {
    border-bottom: 1px solid $LoginField.colors.border;
    display: table-cell;
    vertical-align: middle;

    .LoginField:first-child & {
      border-top: 1px solid $LoginField.colors.border;
    }
  }

  &__label {
    text-align: right;
    padding: 20px 20px 20px 10px;
    white-space: nowrap;

    +mq('small') {
      padding-left: 0;
    }

    label {
      remFontSize($fontSize.large);
      text-transform: uppercase;
      color: $LoginField.colors.text;
      font-weight: $font.light;
    }
  }

  &__input,
  &__select {
    width: 100%;
  }

  &__input {
    input {
      outline: none;
      margin: 0;
      padding: 10px;
      display: block;
      width: 100%;
      border: none;
      background: none;
      font-weight: $font.normal;
      color: $LoginField.colors.inputText;
      remFontSize($fontSize.large);
    }
  }

  &__select {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      right: 20px;
      top: 28px;
      border: 10px solid transparent;
      border-top-color: rgba($palette.white, 70%);
      z-index: 1;
    }

    select {
      outline: none;
      display: block;
      width: 100%;
      height: 65px;
      padding: 10px;
      border: 0;
      -webkit-appearance: none;
      appearance: none;
      background: none;
      cursor: pointer;
      color: $LoginField.colors.inputText;
      remFontSize($fontSize.large, 17.6px);

      option,
      optgroup {
        background: rgba($palette.navy, .5);
      }
    }
  }
}
