$Avatar = {
  colors: {
    boxShadowTOfficial: $palette.darkGrey,
    boxShadowTSocial: $palette.black
  },
  sizes: {
    user: 30 50 126 200,
    org: (29 30) (50 50) (127 126)
  }
}

.Avatar {
  display: inline-block;
  background-size: 100%;
  width: unit($Avatar.sizes.user[0],'px');
  height: @width;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
  }

  &--user {
    width: unit($Avatar.sizes.user[0],'px');
    height: @width;
    overflow: hidden;
    box-shadow: 0 0 4px $Avatar.colors.boxShadowTOfficial;
    border-radius: 50%;

    .th--social & {
      box-shadow: 0 0 4px $Avatar.colors.boxShadowTSocial;
    }

    &.Avatar--medium {
      width: unit($Avatar.sizes.user[1],'px');
      height: @width;
    }
    &.Avatar--large {
      width: unit($Avatar.sizes.user[2],'px');
      height: @width;
    }
    &.Avatar--x-large {
      width: unit($Avatar.sizes.user[3],'px');
      height: @width;
    }
  }

  &--org {
    padding: 2px;
    width: unit($Avatar.sizes.org[0][0] + 4,'px');
    height: unit($Avatar.sizes.org[0][1] + 4,'px');
    filter: drop-shadow(0 0 2px $Avatar.colors.boxShadowTOfficial);

    .th--social & {
      filter: drop-shadow(0 0 2px $Avatar.colors.boxShadowTSocial);
    }

    &.Avatar--medium {
      width: unit($Avatar.sizes.org[1][0],'px');
      height: unit($Avatar.sizes.org[1][1],'px');
    }
    &.Avatar--large {
      width: unit($Avatar.sizes.org[2][0],'px');
      height: unit($Avatar.sizes.org[2][1],'px');
    }
    .Avatar__image {
      mask: url("/assets/skin/orga_mask.svg");
      mask-box-image: url("/assets/skin/orga_mask.svg");
      mask-repeat: no-repeat;
    }
  }
}
