/**
Native elements

Add here all default styles
*/

@require './variables'

* {
  box-sizing border-box
}

html, body {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Lato', 'Helvetica', 'Verdana', 'Arial' sans-serif;
  font-size: 13px;
  font-weight: $font.normal;
}

h1,
h2,
h3 {
  margin 0
}

a {
  color: inherit;
  text-decoration: none;
}

dl {
  margin 0
}

dd {
  margin 0
}

p {
  margin-top: $spacing.default;
  margin-bottom: 0;

  &:first-of-type {
    margin-top: 0;
  }
}
