/**
Global Variables

$size - Object containing all standards sizes
$spacing - Object containing spacing between elements
$font - Object containing some font-weight particularities

Style Guide: 1.1
*/

@require 'colors/palette';

$size = {
  default: 980px
}

$bg-offcanvas = #333
$radius = 4px;

$font = {
  light: 300,
  normal: normal,
  bold: bold,
  black: 900
}

$fontSize = {
  xLarge: 24px,
  large: 20px,
  medium: 16px,
  regular: 13px,
  small: 11px
}

$t-ml-leftMenu = 290px;
$t-ml-leftMenu-small = 80%
$t-ml-leftMenu-color = #333

$spacing = {
  small: 10px,
  default: 20px,
  block: 40px,
  xtra: 60px
}

$colors = {
  error: #FF5C56
}

$uiThickness = .3em;
$shadow = $palette.darkGrey;

$indexLevel = {
  one: 1,
  two: 1000,
  three: 2000,
  four: 3000
}

$global = {
  blur: 20px
}
